<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div id="nav-menu" align="center">
    <table>
        <tr>
            <td>Menu</td>
            <td><<a th:href="@{/}">Home</a></td>
            <td><<a th:href="@{/products}">Products</a></td>
            <td><<a th:href="@{/login}">Login</a></td>
            <td><<a th:href="@{/users}">Users</a></td>
        </tr>
    </table>
</div>
</body>
</html>