<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div id="nav-menu" width="100%">
    <tr>
        <td th:align="center">
            <table>
                <tr>
                    <td>Menu</td>
                    <td><<a th:href="@{/}">Home</a></td>
                    <td><<a th:href="@{/products}">Products</a></td>
                    <td sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')"><<a th:href="@{/users}">Users</a></td>
                    <td sec:authorize="isAuthenticated()"><<a th:href="@{/bucket}">Bucket</a></td>
                </tr>
            </table>
        </td>
    <td th:align="right">
    <div sec:authorize="isAuthenticated()">
        <div>
            Hello, <a th:href="@{/users/profile}"><span sec:authentication="principal.username">Bill</span></a>
        </div>
        <div>
            <a th:href="@{/logout}">Logout</a>
        </div>
    </div>

    <div sec:authorize="!isAuthenticated()">
        <div>
            Hello, unknown. Please <a th:href="@{/login}">Login</a>
        </div>
    </div>
    </td>
</div>
</body>
</html>